
// ================================ //
// •••••••••••••••••••••••••••••••• //
// •••••••••••••••••••••••••••••••• //
//          ❯ MAIN COLOR            //
// •••••••••••••••••••••••••••••••• //
// •••••••••••••••••••••••••••••••• //

@white      : #FFF;
@black      : #000;

@grey       : rgba(128, 128, 128, 1);
@grey-light : rgba(128, 128, 128, .1);

@blue       : #22C8EB;
@mango      : #FBC000;
@fushia     : #CB177D;
// @_dark  : darken(@, 50%);
// @_light : lighten(@, 50%);
