
// ================================ //
// •••••••••••••••••••••••••••••••• //
// •••••••••••••••••••••••••••••••• //
//          ❯ MAIN COLOR            //
// •••••••••••••••••••••••••••••••• //
// •••••••••••••••••••••••••••••••• //

@white      : #fff;
@black      : #000;

@grey       : rgba(128, 128, 128, 1);
@grey-dark  : #000;
@grey-light : #F2F2F2;



@blue : #22c8eb;
// @_dark  : darken(@, 50%);
// @_light : lighten(@, 50%);
