
.wrapper-header {
    min-width        : 32rem;
    position         : fixed;
    z-index          : 1;
    width            : 100%;
    top              : 0;
    left             : 0;
    right            : 0;
    background-color : @white;
    box-shadow       : 0 0 .1rem rgba(0,0,0,.3);
}

.header-box {
    text-align : center;
    width      : 90%;
    margin     : 0 auto;

    .header-title {
        text-transform   : uppercase;
        // font-family : 'Dancing Script', cursive;
        font-weight      : 100;
        margin           : 0;
        text-align       : left;
        background-color : @white;
        .font-size(2.7);
    }

    .title-link {
        display     : inline-block;
        color       : @grey;
        height      : 6rem;
        line-height : 6rem;

        &:hover { color : @blue; }
    }

    .burger-btn {
        position   : absolute;
        z-index    : 1;
        display    : block;
        width      : 4rem;
        height     : 4rem;
        top        : 50%;
        margin-top : -2rem;
        right      : 5%;
        cursor     : pointer;

        &.active .btn-item {
            background-color : @blue;
            height           : .2rem;

            &:nth-child(1) { top : 45% ; }
            &:nth-child(3) { top : 55%; }
        }
    }

    .btn-item {
        position         : absolute;
        display          : block;
        width            : 100%;
        left             : 0;
        right            : 0;
        top              : 50%;
        height           : .1rem;
        background-color : @grey;
        border-radius    : .3rem;
        transition       : top .2s linear, background-color .5s linear ;

        &:nth-child(1) { margin-top : -.5rem; }
        &:nth-child(2) { margin-top : -.1rem; }
        &:nth-child(3) { margin-top : .3rem; }
    }

    .nav-box {
        position         : absolute;
        z-index          : -1;
        top              : -40rem;
        left             : 0;
        right            : 0;
        width            : 100%;
        background-color : @white;
        transition       : top .3s ease-out;

        &.active { top : 6rem; }
    }

    .nav-list {
        width  : 90%;
        margin : 0 auto 2rem;
    }

    .nav-item {
        float      : left;
        width      : 100%;
        border     : .1rem solid @white;
        background : @grey-light;
    }

    .nav-link {
        position       : relative;
        display        : block;
        height         : 7rem;
        line-height    : 7rem;
        color          : @grey;
        text-transform : uppercase;
        transition     : transform .3s linear;
        .font-size(1.3);

        // &:before,
        // &:after {
        //     position         : absolute;
        //     content          : "";
        //     bottom           : 0;
        //     height           : .1rem;
        //     background-color : @blue;
        // }
        //
        // &:before {
        //     left       : 50%;
        //     right      : 50%;
        //     transition : left .3s linear;
        // }
        //
        // &:after {
        //     right      : 50%;
        //     left       : 50%;
        //     transition : right .3s linear;
        // }
        // &:hover {
        //     &:before { left  : 0;}
        //     &:after  { right : 0;}
        // }


        &.active,
        &:hover { transform : scale(1.1); }

        &.contact {
            height      : auto;
            line-height : 1;

            &:hover .link-contact {
                background-color : @mango;
                background-image : url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj48Zz48L2c+PHBhdGggZD0iTTEyLjU4NyAxMS44MzRsNi4xMTctNC45OTktOC43MDQtNi4xNDYtOC42ODEgNi4xIDYuMSA1IDUuMTI4LTAuMDIxek03LjcyNSAxMi40NmwtNS43OTkgNi44NTFoMTYuMTcybC01Ljg1Mi02LjgxMy00LjUyMS0wLjAzOXpNMTIuOTQxIDEyLjM3N2w1LjgwNyA2LjkyOHYtMTEuODQ1bC01LjgwNyA0LjkxN3pNMS4yNTIgNy40NTl2MTEuODQ1bDUuODA3LTYuOTI4LTUuODA3LTQuOTE3eiIgZmlsbD0iI2ZmZmZmZiIvPjwvc3ZnPg==);
            }
        }
    }

    .link-contact {
        display             : block;
        width               : 5rem;
        height              : 5rem;
        margin              : 1rem auto;
        border-radius       : 50%;
        background-color    : @blue;
        background-position : 50% 50%;
        background-repeat   : no-repeat;
        transition          : background-color .2s linear;
        background-image    : url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj48Zz48L2c+PHBhdGggZD0iTTEwLjAwOSAxMS43ODhsLTIuNTQ1LTIuMDg5LTUuNTM5IDYuNTM5aDE2LjE3MmwtNS41MzktNi42MDQtMi41NDkgMi4xNTR6TTE4LjcwNCAzLjc2MmgtMTcuMzg0bDguNjkzIDcuMyA4LjY5Mi03LjMxMXpNMTIuOTQxIDkuMzA0bDUuODA3IDYuOTI3di0xMS44NDVsLTUuODA3IDQuOTE3ek0xLjI1MiA0LjM4N3YxMS44NDVsNS44MDctNi45MjgtNS44MDctNC45MTd6IiBmaWxsPSIjZmZmZmZmIi8+PC9zdmc+);
    }
}

// .wrapper-content { margin-top : 6rem; background-color : @blue; }


// font-family : 'Dancing Script', cursive;
